*.bsc
*.map
*.pdb
*.obj
**/bin/**/Release/
**/bin/**/Debug/
**/bin/**/Retail/
**/obj/**/Release/
**/obj/**/Debug/
**/obj/**/Retail/
*.user
*.lastcodeanalysissucceeded
intermediate/
*.ncb
*.suo
*.opendb
*.exp
*.lib
#*.d
*.gch
*.mak
*.ilk
*.exe
*.config
#*.manifest ## needed for Atlas Builder
*.exe.manifest
*.nul
**/pk_version_base.h
**/pk_version_full.h
*.sdf
*.opensdf
**/bin/*.xml
*.xex
*.xdb
*.elf
*.elf.files
*.self
*.o
*.fpo
*.vpo
*.sym
**/*Binaries*/Microsoft.Expression.*
**/*Binaries*/*.xml

*.hlsl.csh

popcorn.htm
PKUnitTests*.txt
cl.read.1.tlog
cl.command.1.tlog
cl.write.1.tlog
vsvar_log.log
*.sbr
*.zip

*UserInfos.rtk
*.elf*.snt
**/AssemblyVersion.cs
*.metagen
*.lst
*.idb
*.ipch
*.VC.db
*.tbp.dir

last_excludes_*.txt
*.user.nvuser


# Substance files:
.autosave
*.sbs

# Redist files
*.pri

# linux
.gdb_history
*.spv
*.cso
*.gen.glsl

# Macos
.vscode/
.DS_Store

